<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start></ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Smart Cart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header *ngIf="option=='login'">
      Iniciar sesión en SMARTCART
    </ion-card-header>
    <ion-card-header *ngIf="option=='register'">
      Registrate en SMARTCART
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="option=='login'" no-line>
        <ion-item>
          <ion-input type="text" [(ngModel)]="data.user" placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="data.password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <button ion-button [disabled]="!data || !data.user || !data.password || data.user.length==0 || data.password.length==0" (click)="login()" block outline color="light">Login</button>
        <p>Ó</p>
        <button ion-button block color="facebook">
          <ion-icon name="logo-facebook"></ion-icon>
          Login con facebook
        </button>
        <button ion-button block color="googleplus">
          <ion-icon name="logo-googleplus"></ion-icon>
          Login con google+
        </button>
      </ion-list>
      <ion-list *ngIf="option=='register'" no-line>
        <ion-item>
          <ion-input type="text" [(ngModel)]="data.name" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="data.last_name" placeholder="Apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" [(ngModel)]="data.email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="data.password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <button ion-button [disabled]="!data || !data.email || !data.name || !data.last_name || !data.password ||data.name.length==0 ||data.email.length==0 ||data.last_name.length==0 ||data.password.length==0" (click)="register()" block outline color="light">Registrarse</button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <button *ngIf="option=='login'" (click)="toggleOption()" class="bottom" ion-button clear full color="light">¿No tienes
    una cuenta? Regístrate
  </button>
  <button *ngIf="option=='register'" (click)="toggleOption()" class="bottom" ion-button clear full color="light">¿Ya
    tienes una cuenta? Hace login
  </button>
</ion-content>




