<!--
  Generated template for the DetalleGrupoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle Grupo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{grupo.nombre || grupo.name }} ({{grupo.members.length}} integrantes)
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="grupo.members.length==0">
          Este grupo no tiene miembros, puede agregar uno pulsando el icono de +
        </ion-item>
        <button ion-item (click)="showDelete(member)" *ngFor="let member of grupo.members">
          {{member.name}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="searchNewMember()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="isNew">
    <ion-row>
      <ion-col col-6 offset-3>
        <button (click)="save()" ion-button full>
          Crear Grupo
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!isNew">
    <ion-row>
      <ion-col col-6 offset-3>
        <button (click)="verListas()" ion-button full>
          Ver Lista
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 offset-3>
        <button (click)="verListaGrupo()" ion-button full>
          Ver Compras del grupo
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 offset-3>
        <button (click)="update()" ion-button full>
          Guardar Grupo
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
