<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>

    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Grupos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-spinner *ngIf="loading"></ion-spinner>
    <button  ion-item *ngFor="let grupo of grupos" (click)="itemSelected(grupo)">
      {{ grupo.name }}
    </button>
  </ion-list>

  <ion-fab right bottom>

    <button ion-fab color="primary" (click)="doPrompt()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
