<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Grupos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-list >
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-item-sliding *ngFor="let grupo of grupos">
      <button ion-item  (click)="itemSelected(grupo)">
        {{ grupo.name }}
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="delete(grupo)">Eliminar</button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item text-center *ngIf="grupos.length == 0">Usted no tiene ningun grupo, puede crear uno presionando el icono +</ion-item>

  </ion-list>
</ion-card>

  <ion-fab right bottom>

    <button ion-fab color="primary" (click)="addGroup()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
